*{
    margin: 20px;
    padding: 5px;
    box-sizing: border-box;
}
body {
    background-image: url('images/flight_details.jpg');
    background-size: cover; /* Adjust the size of the background image to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    opacity: 0.8;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 70%;
    background-color: rgb(155, 211, 203);
    padding: 0px;
    font-size: large;
}
.container h1{
    text-align: center;
}
input{
    width: 70%;
    padding: 5px;
    font-size: small;
    border: 1px solid black;
}
.btn{
    border-radius: 6px;
    background: darkgray;
    cursor: pointer;
}
.reg{
    margin: 0px;
    padding: 0px;
    width: 95%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
.submit_msg{
  padding:1px;
}
.form_{
    padding: 0px;
}
select{
    width: 70%;
    padding: 5px;
    font-size: small;
    border: 1px solid black;
}

